@import "tailwindcss";

@theme {
  --color-guld-50: #fbf9ec;
  --color-guld-100: #f5eed3;
  --color-guld-200: #ecdca5;
  --color-guld-300: #e2c670;
  --color-guld-400: #d9b045;
  --color-guld-500: #cd962b;
  --color-guld-600: #b17521;
  --color-guld-700: #8d551d;
  --color-guld-800: #74431d;
  --color-guld-900: #62381b;
  --color-guld-950: #381d0c;

  --color-background: #FAFAFA;
  --color-foreground: #171717;
  --color-card: #FFFFFF;
  --color-card-foreground: #171717;
  --color-border: #E5E7EB;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #E5E7EB; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #D1D5DB; }
